:root[data-theme="light"] {
  --background-color: #fafafa;
  color-scheme: light;
}

:root[data-theme="dark"] {
  --background-color: #2b3e51;
  color-scheme: dark;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fafafa;
    color-scheme: light;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #2b3e51;
    color-scheme: dark;
  }
}

body {
  background-color: var(--background-color);
  transition: background-color 225ms, color-scheme 225ms;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

blockquote {
  margin: 8px 12px;
  padding: 4px 6px;
  width: fit-content;
  background-color: lightyellow;
  outline: 1px solid yellow;
  border-radius: 2px;
}

/* hero card */
.hero-card {
  margin: 8px;
  border-radius: 2px;
  padding: 10px 14px;
  outline: 1px solid red;
}

.active {
  color: green;
}

.non-active {
  color: lightgrey;
}

/* simple card */
.card {
  margin: 8px 12px;
  padding: 4px 6px;
  width: fit-content;
  border-radius: 2px;
  background-color: aliceblue;
  outline: 1px solid lightblue;
}

.card:empty {
  display: none;
}

.main {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: min-content;
}
.add-hero-controls {
  display: grid;
  align-items: center;
  gap: 8px;
  margin: 12px;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: max-content;
  gap: 12px;
  padding: 0;
  margin: 12px;
  list-style: none;
}

@media (min-width: 768px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.list-element {
  display: grid;
  grid-template-rows: min-content;
  grid-template-areas: 'id button' 'name name';
  grid-template-columns: auto 1fr;
  gap: 8px;
  padding: 8px;
  outline: 1px solid gainsboro;
  border-radius: 4px;
}

.list-element__id {
  grid-area: id;
}

.list-element__name {
  grid-area: name;
}

.list-element__button {
  grid-area: button;
}